{{!-- body contains an expanded view of the blog post --}}
{{!-- full description available, instead of the abbreviated teaser from the home page --}}
{{!-- comments can be made to the blog post here --}}

<h2 id="commentTitle"></h2>

<p id="commentBody"></p>

<button id="commentBtn"> Comment </button>